body {
  color: #272727;
  font-family: 'Quicksand', serif;
  /* background-color: #f1f1f1; */
  background-image: url('./bganimal.jpg');

}
.title {
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  padding: 8px;
}
.content {
  text-align: center;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 20px;
}
